/* header section start */

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}


.header-sction{
    padding-left: 100px;
}
.header-sction{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 240, 243);
}

.header-content{
    color: var(--Dark-01, #181818);
    font-family: "Open Sans";
    font-size: 85px;
    font-weight: 700;
    
}

.header-drescription{
    color: #a09b9b;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    margin-top: 35px;
    
   
}

.content-write{
    margin-bottom:15px ;
}

.header-button{
    color: var(--White-Color, #FFF);
    background-color: rgb(207, 69, 122);
    padding: 20px 40px 20px 40px;
    text-align: center;
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    margin-top: 35px;
    
}
 .header-button:hover{
    background-color: rgb(255, 98, 36);  
 }

 

/* header section end */


/* Featured section start */


.Featured-section{
    text-align: center;
    margin-top: 200px;
}

.Featured-title{
    color: var(--Dark-01, #181818);
    font-family: "Open Sans";
    font-size: 50px;
    font-weight: 500;
}

.Featured-drescription{
    color:  #c5c4c4;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    margin-top: 35px;
}
.Featured-content{
    margin-bottom: 15px;
}

/* Featured section end */


/* Featured-flower-section-start */
.Featured-flower-section{
    display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 100px;
   gap: 30px;
   
}


.Pink-Tulip-Flower-Tree{
    height: 400px;
background-color: rgb(255, 222, 240);
padding: 80px 80px 0px 80px;
border-radius:  50% 50% 0px 0px;
margin-bottom: 50px;


}

.Coronation-Flowers-Tree{
    height: 400px;
    background-color: rgb(205, 240, 240);
    padding: 80px 20px 0px 20px;
border-radius:  50% 50% 0px 0px;
margin-bottom: 50px;
}

.Yellow-Tulip-Flower-Tree{
    height: 400px;
    background-color: rgb(78, 216, 184);
    padding: 80px 80px 0px 80px;
border-radius:  50% 50% 0px 0px;
margin-bottom: 50px;
}

.anchor-tag{
    color: #181818;
    font-size: 28px;
    font-family: sans-serif;
    font-weight: 500;
    margin-left: 80px;
    border-bottom: 2px solid #181818;
    text-decoration: none;
     
}
/* Featured-flower-section-end */

/* Featured-flower-sell-section-start */

.order-section{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 100px;
    margin-top: 250px;
    background-color: rgb(231, 226, 226);
    max-width: 70%;
    margin-left: 230px;
    padding: 80px 60px 80px 60px;
    border-radius: 5px;
    margin-bottom: 100px;

    
    
}

.order-section-content{
    color: rgb(65, 61, 61);
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 30px;
   
}


/* Featured-flower-sell-section-end */

/* Bonas-section-start */


/* .gallary{
    max-width: 1480px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gallary img{
    margin: 0 auto;
    width: 350px;
    
} */

.feature-flower-details{
   
    text-align: center;
}
.feature-flower-details h1{

color: #000;
font-size: 45px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;

}

.feature-flower-details p {
color: rgb(153, 152, 150);
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top: 20px;


}


.gallary img{
    width: 350px;
    height: 300px;
    margin: 5px auto;
}

.gallary{

max-width:1480px;
display: flex;
margin: 100px auto;
flex-wrap: wrap;
gap: 10px;
align-items: center;
justify-content: center;


}
/* Bonas-section-end */

/* hot deals section start */

.hot-deals-section{
    text-align: center;
}

.hot-deals-section h1{
    font-size: 45px;
    font-family: sans-serif;
    font-weight: 600;
    
}

.hot-deals-section p  {
    font-size: 18px;
    color: #a09b9b;
    margin-top: 30px;
}

.hot-deals-section-start{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px; 
}



/* hot deals section end */


/* Instagram section start */

.Instagram-section h1 {
    font-size: 45px;
    font-family: sans-serif;
    font-weight: 500;

}
.Instagram-section p{
    font-size: 18px;
    color: #a09b9b;
    margin-top: 30px;

}

.Instagram-section{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
}


.Instagram-section-image{
  display: flex;
  justify-content: center;
  gap: 20px;
  
}

/* Intagram section end */


/* subscribtion-section-start */

/* .subscribtion-section{
    background-image: url('../flower-shop-assignment/Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    margin-left: 12%;
    height: 800px;
    max-width: 1480px;
    align-items: center;
    
    
}

.subscribtion-title h1{
    font-size: 45px;
    font-family: sans-serif;
    font-weight: 500;
    margin: 0px;

}

.subscribtion-title p{
    font-size: 18px;
    color: #747171;
    margin-top: 30px;
   
}

.subscribtion-title{
    text-align: center;
    margin-top: 10%;
    padding: 150px 40px 50px 40px;

}
.email-section input{
    font-size: 13px;
    padding: 20px 38% 20px 5px;
    margin-left: 20%;
    margin-bottom: 30px;
   
    border: #d72b50;
    
}

.subscribtion-section{
   
}
.header-button */
/* subscribtion-section-end */


/* get latest deal start */
.latest-deal {
    max-width: 1480px;
    height: 449px;
    margin: 174px auto;
    width: 100%;
    background-image: url("../flower-shop-assignment/Asset/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.latest-deal h1 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.latest-deal p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.subscribe-action {
    margin-top: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.subscribe-action input {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background-color: white;
    padding: 0 10px 0 10px;
    border: none;
    margin-right: 16px;
    border-color: #d72b50;
    
}


#primary-btn{
    color: var(--White-Color, #FFF);
    background-color: rgb(207, 69, 122);
    padding: 20px 40px 20px 40px;
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    margin-top: 35px;
    margin-bottom: 44px;
    
    

}

#primary-btn:hover{
    background-color: #d72b50;
}
.subscribe-action input:focus {
    outline-color: #d72b50;
}


/* get latest deal end */

/* footer-section-start */

.footer-section h1{
 font-size: 40px;
 font-family: Arial, Helvetica, sans-serif;
 color: aliceblue;
 margin-bottom: 10px;
}

.footer-section p {
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
    margin-bottom: 30px;
}

.footer-section{
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #000;
    padding: 200px;
}

.copyright{
    color: rgb(88, 88, 88);
    
}

.content{
    margin-top: 5px;
}
/* footer-section-end */
